accelerate
faiss-cpu
google_search_results
langchain
langchain-classic
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langgraph
pydantic
pydantic-settings
pydantic_core
PyMuPDF
pypdf
streamlit
openai
